.artist-thumbnail {
    max-width: 120px;
    max-height: 120px;
}

.painting-thumbnail {
    max-width: 90px;
    max-height: 90px;
}

.artist-image {
    max-width: 250px;
    max-height: 250px;
}

html {
    background-color: #F8F8F8;
}

body {
    background-color: #FFFFFF;
    max-height: 100%;
}

.painters-list {
    max-height: 800px;
    overflow-y: scroll;
}
.painters-list::-webkit-scrollbar
{
  width: 5px;  /* for vertical scrollbars */
  height: 5px; /* for horizontal scrollbars */
}
.painters-list::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

.painters-list::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.4);
}