<!DOCTYPE html>

<html lang="en" ng-app="dev201xApp">
<head>
    <meta charset="utf-8" />
    <title>Famous Painters - Edx dev201x</title>
    <link rel="stylesheet" href="styles/app.css" type="text/css" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="styles/app.css" rel="stylesheet" />
</head>
<body class="container">
    <div class="content" ng-controller="PainterCtrl as pCtrl">
        <div class="col-xs-5 painters-list">
            <div class="row">
                <table class="table table-responsive table-striped">
                    <tr ng-repeat="artist in pCtrl.artists" ng-click="pCtrl.selectPainter(artist)">
                        <td class="col-xs-3">
                            <img ng-src="{{artist.resource.image}}" class="artist-thumbnail img-responsive" alt="Responsive image">
                            <br />
                            {{artist.name}}
                        </td>
                        <td class="col-xs-8">&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xs-push-5 col-xs-7 painter-details">
            <div class="col-xs-12" ng-if="pCtrl.selectedArtist">
                <div class="row">
                    <img ng-src="{{pCtrl.selectedArtist.resource.image}}" class="pull-left artist-image img-responsive" alt="Responsive image" />
                    <div class="pull-left painter-info">
                        <div><b>Born:</b> {{pCtrl.selectedArtist.dateOfBirth}}</div>
                        <div ng-if="pCtrl.selectedArtist.dateOfDeath"><b>Died:</b> {{pCtrl.selectedArtist.dateOfDeath}}</div>
                    </div>
                </div>

                <h3>
                    {{pCtrl.selectedArtist.name}}
                </h3>
            </div>

        </div>
        <div class="hidden">
            <script src="scripts/jquery-1.9.1.min.js"></script>
            <script src="scripts/bootstrap.min.js"></script>
            <script src="scripts/angular.min.js"></script>
            <script src="scripts/defs/definitions.js"></script>
            <script src="scripts/app.js"></script>
        </div>
</body>
</html>
